<!DOCTYPE html>
<html>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" >
    <body>
        <header>
            <div class="container">
                <h1 class="logo"> Wep app </h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>
        <div class="container">
            {%block noidung%}
            {%endblock%}
        </div>
    </body>
</html>